body{
    font-family: Roboto,sans-serif;
    font-size: 12px;
    padding-left: 20px;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1.2rem;
}
p{
    font-size: 1rem;
}

.picedit_box {
    display: flex;
    position: relative;
    font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
.picedit_box_preview {
    display: inline-block;
    position: relative;
    left: 0;
    font-family: "Myriad Pro", Arial, Helvetica, sans-serif;
    font-size: 1rem;
}
/*.picedit_canvas_box:hover .picedit_action_btns, .picedit_action_btns.active {*/
/*z-index: 8;*/
/*opacity: 0.6;*/
/*}*/
.picedit_action_btns.active {
    z-index: 8;
    opacity: 0.6;
}
.picedit_canvas_box{
    display: inline-block;
    background: #f0eee4;
    width: 600px;
    height: 430px;
    box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,1);
    text-align: center;
    position: relative;
    /*Lin: hide image outside of canvas area*/
    overflow: hidden;
}
.picedit_canvas_box.dragging {
    -webkit-box-shadow: inset 0px 0px 6px 0px #555555;
    box-shadow: inset 0px 0px 6px 0px #555555;
}
.picedit_canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*Lin: prevent stickers to show*/
    /*display: none;*/
    z-index: 5;
}
/*.picedit_nav_box {*/
    /*position: absolute;*/
    /*left: 0px;*/
    /*top: 430px;*/
    /*width: 600px;*/
    /*z-index: 15;*/


    /*-webkit-transition: opacity 200ms ease-out;*/
    /*-moz-transition: opacity 200ms ease-out;*/
    /*-ms-transition: opacity 200ms ease-out;*/
    /*-o-transition: opacity 200ms ease-out;*/
    /*transition: opacity 200ms ease-out;*/
/*}*/
.picedit_nav_box{
    display: inline-block;
    width: 300px;
    visibility: hidden;
    z-index: 15;
}
.option{
    width: 270px;
    margin: 5px;
    font-size: 1rem;
}
.size{
    font-size: 0.8rem;
}
.picedit_nav_box:hover, .picedit_nav_box.active {
    opacity: 0.8;
}
.picedit_control {
    padding: 0.25em;
    cursor: pointer;
    display: inline-block;
    opacity: 1;
    vertical-align: middle;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.picedit_element > .picedit_control {
    width: 60px;
    background: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .3rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.18), 0 2px 5px 0 rgba(0,0,0,.15);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.18), 0 2px 5px 0 rgba(0,0,0,.15);
}
.picedit_control:hover, .picedit_element.active > .picedit_control, .picedit_control.active {
    /*opacity: 1;*/
    opacity: 0.5;
    text-shadow: 0px 0.3px 0px rgba(255, 255, 255, 0.8), 0 0 0 rgba(107, 107, 107, 0.62), 0px 0.3px 0px #FFF;
    /*color: transparent;*/
}
#upload_btn {
    width: 50%;
    height: 50%;
    position: relative;
    top: 20%;
    font-size: 1.5rem;
}
#upload_btn > .picedit_control{
    width: 100%;
    height: 100%;
}
#upload_btn > .picedit_control > i{
    padding-top: 2rem;
}
.picedit_gray_gradient {
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0.4) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0.4)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.4) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.4) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.4) 100%);
    background: linear-gradient(to bottom,  rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0.4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
}
/*.picedit_pos_elements {}*/
.picedit_nav_elements {
    position: relative;
    margin: 0;
    width: 100%;
    text-align: left;
    padding: 0.2em 0;
    z-index: 20;
}
.picedit_element {
    display: inline-block;
    cursor: pointer;
    padding: 0.1em;
    /*margin: 0.2em;*/
}
/*Lin: in Nav, make a look like span*/
/*a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}*/
.downloadImg {
    text-decoration: none;
    color: #222;
}

.picedit_element > .picedit_control {
    display: block;
    height: 100%;
    /*width: 100%;*/
    padding: 0.2em;
    font-size: 1.5em;
    text-align: center;
    position:  relative;
    z-index: 40;
}
/*Lin: make text smaller than icon*/
.picedit_element > .picedit_control > i{
    display: block;
    padding-top: 0.2em;
}
.picedit_element > .picedit_control > b{
    font-size: 0.5em;
    display: block;
    padding-top: 0.2em;
}
.picedit_element > .picedit_control.ico-picedit-arrow-maximise {
}
.picedit_element:hover .picedit_control_menu{
    display: block;
}
.picedit_control_menu {
    /*display: block;*/
    display: none;
    position: relative;
    top: 0.3em;
    right: 1%;
    z-index: 30;
    padding-top: 0.3em;
    width: auto;
    /*opacity: 0;*/
    -moz-transform: scaleY(0);
    -webkit-transform: scaleY(0);
    -o-transform: scaleY(0);
    -ms-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
}
.picedit_control_menu li {
    /*display: inline-block;*/
    display: block;
    position: relative;
    top: 0;
    /*margin: 0 0.5em;*/
}
.picedit_control_menu li > span {
}
.picedit_element:hover .picedit_control_menu, .picedit_element.active .picedit_control_menu {
    opacity: 1;
    -moz-transform: scaleY(1);
    -webkit-transform: scaleY(1);
    -o-transform: scaleY(1);
    -ms-transform: scaleY(1);
    transform: scaleY(1);
}
/*.picedit_control_menu_container {
}
.picedit_tooltip {}
.picedit_tooltip.picedit_elm_1:after, .picedit_tooltip.picedit_elm_1:before {
    left: 70%;
}
.picedit_tooltip.picedit_elm_2:after, .picedit_tooltip.picedit_elm_2:before {
    left: 96%;
}
.picedit_tooltip.picedit_elm_3:after, .picedit_tooltip.picedit_elm_3:before {
    left: 12%;
}*/
.picedit_tooltip {
    position: relative;
    background: #ffffff;
    border: 1px solid #949494;
    padding: 9px 4px 7px;
    -webkit-box-shadow: 0em 0em 0.2em 0.1em rgba(95, 95, 95, 0.55);
    box-shadow: 0em 0em 0.2em 0.1em rgba(95, 95, 95, 0.55);
    white-space: nowrap;
}
.picedit_tooltip:after, .picedit_tooltip:before {
    bottom: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.picedit_tooltip:after {
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #ffffff;
    border-width: 8px;
    margin-left: -8px;
}
.picedit_tooltip:before {
    border-color: rgba(204, 204, 204, 0);
    border-bottom-color: #cccccc;
    border-width: 9px;
    margin-left: -9px;
}
.picedit_input {
    width: 3em;
}
.picedit_action_btns .center {
    text-align: center;
    font-size: 0.3em;
    /*color: #CACACA;*/
    position: absolute;
    bottom: 5em;
    left: 0;
    width: 100%;
    height: auto;
    font-style: italic;
}
.picedit_action_btns .center:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
    text-shadow: none;
}
.picedit_action_btns {
    font-size: 3em;
    /*color: #ddd;*/
    width: 60%;
    height: 20%;
    display: inline-table;
    margin: 30% auto 0 auto;
    position: relative;
    opacity: 0;

    z-index: 4;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}
.picedit_action_btns > div {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}
.picedit_action_btns input.imageload {
    display: none;
}
.picedit_action_btns > div:hover {
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.8), 0 0 0 rgba(65, 65, 65, 0.75), 1px 1px 0px #FFF;
}
.picedit_nomargin {
    margin: 0;
}
.picedit_message {
    display: none;
    position: absolute;
    padding: 1.4em 2.5em 1em 1em;
    bottom: -100px;
    left: 300px;
    border: 1px solid #eee;
    margin-bottom: 3%;
    margin-left: 2%;
    margin-right: 2%;
    z-index: 180;
    background-color: #F7F5D4;
    opacity: 0.8;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    -webkit-box-shadow: 0 0 2px 1px #D8D8D8;
    box-shadow: 0 0 0.3em 0.2em #D8D8D8;

    -webkit-transition: bottom 200ms ease-out;
    -moz-transition: bottom 200ms ease-out;
    -ms-transition: bottom 200ms ease-out;
    -o-transition: bottom 200ms ease-out;
    transition: bottom 200ms ease-out;
}
.picedit_message.active {
    bottom: 200px;
}
.picedit_message > span {
    position: absolute;
    top: 0.6em;
    right: 0.4em;
    z-index: 200;
}
.picedit_message.no_close_button > span {
    display: none;
}
.picedit_message > div {
    font-style: italic;
    color: #888;
}
.picedit_drag_resize, .picedit_drag_resize_canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.picedit_drag_resize {
    z-index: 300;
    overflow: hidden;
    display: none;
    color: #eee;
}
.picedit_drag_resize.active {
    display: block;
}
.picedit_drag_resize_canvas {
    z-index: 20;
}
.picedit_drag_resize_box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 30;
    border: 2px dashed #eee;
}
.picedit_drag_resize_box_corner_wrap {
    position: absolute;
    bottom: -1.5em;
    right: -1.5em;
    padding: 1.5em;
}
.picedit_drag_resize_box_corner {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 0 1.2em 1.2em;
    border-color: transparent transparent #ddd transparent;
    opacity: 0.8;
    z-index: 40;
    cursor: se-resize;
}
.picedit_drag_resize_box_elements {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 40;
}
.picedit_drag_resize_box_elements > span {
    text-shadow: 0 3px hsla(0, 0%, 0%, 0.8);
}
.picedit_colors span {
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #757575;
    padding: 0;
    vertical-align: middle;
    margin: 0.1em;
    opacity: 0.3;
}
.picedit_black {
    background-color: black;
}
.picedit_red {
    background-color: red;
}
.picedit_green {
    background-color: green;
}
.picedit_sizes span {
    padding: 0.1em;
    border-radius: 50%;
    background-color: #111;
    vertical-align: middle;
    margin: 0.1em;
    opacity: 0.5;
}
.picedit_large {
    width: 1.2em;
    height: 1.2em;
}
.picedit_medium {
    width: 0.75em;
    height: 0.75em;
}
.picedit_small {
    width: 0.30em;
    height: 0.30em;
}
.picedit_elm_3 {
    display: table;
}
.picedit_elm_3 > label {
    display: table-cell;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}
.picedit_video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}
.picedit_video.active {
    display: block;
}
.picedit_video video {
    width: auto;
    height: 100%;
}
.picedit_video_controls {
    position: absolute;
    bottom: 0.5em;
    width: 100%;
    text-align: center;
}
.picedit_video_controls span {
    font-size: 1.5em;
    border: 1px solid #bbb;
    padding: 0.3em;
    border-radius: 50%;
    color: #ccc;
    margin: 0 0.4em;
    vertical-align: -webkit-baseline-middle;
}
.picedit_sizes span.active {
    background-color: #111;
    border: 1px solid #757575;
}
.picedit_painter {
    display: none;
    position: absolute;
    z-index: 3;
    left: 0;
    cursor: crosshair;
    top: 0;
    width: 100%;
    height: 100%;
}
.picedit_painter.active {
    display: block;
    z-index: 12;
}
.picedit_painter.active + .picedit_canvas {
    z-index: 10;
}

/*Lin: sticker image hover effects*/
/*.picedit_sticker, .hidden_sticker{
    height: 80px;
    width: 80px;
    padding: 0.3em;
    margin-right:5px;
    background-color: white;
    border-radius: 10px;
    background-size: contain;
}
.hidden_sticker{
    cursor: default;
    opacity: 0.3;
    pointer-events: none;  !*Make hidden_sticker not clickable*!
}
.picedit_sticker:hover {
    box-shadow: 5px 5px 2px #757575;
}*/
/*.picedit_sticker img {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.picedit_sticker:hover img {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}*/
/* Lin: Preview button */
.btn {
    display: inline-block;
    padding: 0.5em 1.0em;
    color: #222;
    background: #EEE;
    border: none;
    border-radius: 7px;
    background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
    font-family: sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
}

.btn:hover {
    background-color: #8CF;
    text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
    color: #222;
}
.btn.is-checked {
    color: white;
    background-color: #28F;
    text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.btn:active {
    color: white;
    background-color: #28F;
    box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}
#previewBtn {
    color: white;
    background-color: #28F;
}
/*
.submitBtn{
    background-color: #b31b1b;
    color: #FFFFFF;
    padding: 5px 10px;
    cursor: pointer;
    font-family: FontAwesome;
    border-radius: 5px;
    border-bottom: 3px solid #721212;
transition(all 100ms ease-in-out);
}
.submitBtn:hover {
    background-color: #8F1616;
}
.submitBtn:active{
    transform: translate(0px,2px);
    -webkit-transform: translate(0px,2px);
    border-bottom: 1px solid #721212;
}*/
