body{
    font-family: Roboto,sans-serif;
    font-size: 12px;
    padding-left: 20px;
}
h1{
    font-size: 2rem;
}
h2{
    font-size: 1.5rem;
}
h3{
    font-size: 1.2rem;
}
p{
    font-size: 1rem;
}

.picedit_box {
    display: flex;
    position: relative;
    font-size: 1rem;
}
.picedit_box_preview {
    display: inline-block;
    position: relative;
    left: 0;
    font-size: 1rem;
}
/*.picedit_canvas_box:hover .picedit_action_btns, .picedit_action_btns.active {*/
/*z-index: 8;*/
/*opacity: 0.6;*/
/*}*/
.picedit_action_btns.active {
    z-index: 8;
    opacity: 0.6;
}
.picedit_canvas_box{
    display: inline-block;
    /*background: #f0eee4;*/
    width: 600px;
    height: 600px;
    /*box-shadow: inset 0px 0px 20px 0px rgba(0,0,0,1);*/
    text-align: center;
    position: relative;
    /*Lin: hide image outside of canvas area*/
    /*overflow: hidden;*/
}
.picedit_canvas_box.dragging {
    -webkit-box-shadow: inset 0px 0px 6px 0px #555555;
    box-shadow: inset 0px 0px 6px 0px #555555;
}
.picedit_canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*Lin: prevent stickers to show*/
    /*display: none;*/
    z-index: 5;
}
.picedit_nav_box {
    position: relative;
    z-index: 15;


    -webkit-transition: opacity 200ms ease-out;
    -moz-transition: opacity 200ms ease-out;
    -ms-transition: opacity 200ms ease-out;
    -o-transition: opacity 200ms ease-out;
    transition: opacity 200ms ease-out;
}
.cropOptions{
     display: inline-block;
     width: 300px;
     visibility: hidden;
     z-index: 15;
 }
.btn:focus,.btn:active {
    outline: 3px #89CCE2 solid;
}

.option{
    width: 270px;
    margin: 5px;
    font-size: 1rem;
}
.size{
    font-size: 0.8rem;
}
/*.picedit_nav_box:hover, .picedit_nav_box.active {
    opacity: 0.8;
}*/
.picedit_control {
    padding: 0.25em;
    cursor: pointer;
    display: inline-block;
    opacity: 1;
    vertical-align: middle;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
}

.picedit_control:hover {
    opacity: 1;
    text-shadow: 0px 0.3px 0px rgba(255, 255, 255, 0.8), 0 0 0 rgba(107, 107, 107, 0.62), 0px 0.3px 0px #FFF;
}
#upload_btn {
    width: 50%;
    height: 50%;
    position: relative;
    top: 20%;
    margin:auto;
    font-size: 1.5rem;
    background: #fff;
    /*
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .3rem;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.18), 0 2px 5px 0 rgba(0,0,0,.15);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.18), 0 2px 5px 0 rgba(0,0,0,.15);*/
}

#upload_btn > .picedit_control > i{
    padding-top: 3rem;
    font-size: 1.5em;
}
.picedit_gray_gradient {
    background: -moz-linear-gradient(top,  rgba(0,0,0,1) 0%, rgba(0,0,0,0.4) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,1)), color-stop(100%,rgba(0,0,0,0.4)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.4) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.4) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,1) 0%,rgba(0,0,0,0.4) 100%);
    background: linear-gradient(to bottom,  rgba(0, 0, 0, 1) 0%,rgba(0, 0, 0, 0.4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#00000000',GradientType=0 );
}
/*.picedit_pos_elements {}*/
.picedit_nav_elements {
    position: relative;
    margin: 0;
    width: 100%;
    text-align: left;
    padding: 0.2em 0;
    z-index: 20;
}
#downloadImg {
    padding-top: 0.5em;
}

.picedit_element > .picedit_control {
    display: block;
    height: 100%;
    font-size: 1.5em;
    text-align: center;
    position:  relative;
    z-index: 40;
}
/*Lin: make text smaller than icon*/
.picedit_element > .picedit_control > i{
    display: block;
}
.picedit_element > .picedit_control > b{
    font-size: 0.5em;
    display: block;
}

.picedit_message {
    display: none;
    position: absolute;
    padding: 1.4em 2.5em 1em 1em;
    bottom: -100px;
    left: 300px;
    border: 1px solid #eee;
    margin-bottom: 3%;
    margin-left: 2%;
    margin-right: 2%;
    z-index: 180;
    background-color: #F7F5D4;
    opacity: 0.9;
    -webkit-border-radius: 4px 4px 4px 4px;
    border-radius: 4px 4px 4px 4px;
    -webkit-box-shadow: 0 0 2px 1px #D8D8D8;
    box-shadow: 0 0 0.3em 0.2em #D8D8D8;

    -webkit-transition: bottom 200ms ease-out;
    -moz-transition: bottom 200ms ease-out;
    -ms-transition: bottom 200ms ease-out;
    -o-transition: bottom 200ms ease-out;
    transition: bottom 200ms ease-out;
}
.picedit_message.active {
    bottom: 200px;
}
.picedit_message > span {
    position: absolute;
    top: 0.6em;
    right: 0.4em;
    z-index: 200;
}
.picedit_message.no_close_button > span {
    display: none;
}
.picedit_message > div {
    font-style: italic;
    color: black;
}
.picedit_drag_resize, .picedit_drag_resize_canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
.picedit_drag_resize {
    z-index: 300;
    overflow: hidden;
    display: none;
    color: #eee;
    position: relative;
}
.picedit_drag_resize.active {
    display: block;
}
.picedit_drag_resize_canvas {
    z-index: 20;
}
.picedit_drag_resize_box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 30;
    border: 2px dashed #89CCE2;
}
.picedit_drag_resize_box_corner_wrap {
    position: absolute;
    bottom: -1.5em;
    right: -1.5em;
    padding: 1.5em;
}
.picedit_drag_resize_box_corner {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 0 0 1.2em 1.2em;
    border-color: transparent transparent #ddd transparent;
    opacity: 0.8;
    z-index: 40;
    cursor: se-resize;
}
.picedit_drag_resize_box_elements {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 40;
}
.picedit_drag_resize_box_elements > span {
    text-shadow: 0 3px hsla(0, 0%, 0%, 0.8);
}
.picedit_colors span {
    width: 1.2em;
    height: 1.2em;
    border: 1px solid #757575;
    padding: 0;
    vertical-align: middle;
    margin: 0.1em;
    opacity: 0.3;
}
.picedit_black {
    background-color: black;
}
.picedit_red {
    background-color: red;
}
.picedit_green {
    background-color: green;
}
.picedit_sizes span {
    padding: 0.1em;
    border-radius: 50%;
    background-color: #111;
    vertical-align: middle;
    margin: 0.1em;
    opacity: 0.5;
}
.picedit_large {
    width: 1.2em;
    height: 1.2em;
}
.picedit_medium {
    width: 0.75em;
    height: 0.75em;
}
.picedit_small {
    width: 0.30em;
    height: 0.30em;
}
.picedit_elm_3 {
    display: table;
}
.picedit_elm_3 > label {
    display: table-cell;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
    padding-left: 0.2em;
    padding-right: 0.2em;
}
.picedit_video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 100;
    display: none;
}
.picedit_video.active {
    display: block;
}
.picedit_video video {
    width: auto;
    height: 100%;
}
.picedit_video_controls {
    position: absolute;
    bottom: 0.5em;
    width: 100%;
    text-align: center;
}
.picedit_video_controls span {
    font-size: 1.5em;
    border: 1px solid #bbb;
    padding: 0.3em;
    border-radius: 50%;
    color: #ccc;
    margin: 0 0.4em;
    vertical-align: -webkit-baseline-middle;
}
.picedit_sizes span.active {
    background-color: #111;
    border: 1px solid #757575;
}
.picedit_painter {
    display: none;
    position: absolute;
    z-index: 3;
    left: 0;
    cursor: crosshair;
    top: 0;
    width: 100%;
    height: 100%;
}
.picedit_painter.active {
    display: block;
    z-index: 12;
}
.picedit_painter.active + .picedit_canvas {
    z-index: 10;
}
